<% if !flash[:notice].blank? %>
   <div>
      <%= flash[:notice] %>
   </div>
<% end %>
<table class="table table-striped table-hover table-bordered">
   <thead class="table-light">
      <tr>
         <th>Filename</th>
         <th>Download Link</th>
         <th>Action</th>
      </tr>
   </thead>

   <tbody>
      <% @resumes.each do |resume| %>

         <tr>
            <td><%= resume.name %></td>
            <td><%= link_to "Download", resume.attachment_url, target: :_blank %></td>
            <td><%= link_to "Delete",  resume, method: :delete, data: { confirm: "Are you sure you want to delete #{resume.name}?" } %></td>
         </tr>

      <% end %>
   </tbody>

</table>

<%= link_to "Add new FILE", new_resume_path, class:"btn btn-success" %>
