<% if !flash[:notice].blank? %>
   <div>
      <%= flash[:notice] %>
   </div>
<% end %>
<table class="table table-striped table-hover table-bordered table-sm">
   <thead class="table-light">
      <tr>
         <th class="text-center">Filename</th>
         <th colspan="2" class="text-center">Action</th>
      </tr>
   </thead>

   <tbody>
      <% @resumes.each do |resume| %>

         <tr>
            <td class="align-middle text-center"><%= resume.name %></td>
            <td class="align-middle text-center"><%= link_to "View File", resume.attachment_url, target: :_blank, class:"btn btn-primary" %></td>
            <td class="align-middle text-center"><%= link_to "Delete",  resume, method: :delete, data: { confirm: "Are you sure you want to delete #{resume.name}?" }, class:"btn btn-danger" %></td>
         </tr>

      <% end %>
   </tbody>

</table>

<%= link_to "Add new FILE", new_resume_path, class:"btn btn-success" %>
